html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  display: table;
  margin: 0;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
  color: #8a2be2;
}
.control {
  clear: both;
  position: relative;
  overflow: auto;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
}
.inner_container {
  max-height: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

.coordinate-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.coordinate-box > div {
  font-size: smaller;
  padding: 1.5px;
  width: 100px;
  height: 100px;
  color: black;
  background-color: #8a2be2;
  margin: 1.5px;
}
